.board-book{
  .green {
    background: #b9f6ca;
  }

  .active {
    background: #ffff8d;
    border: 3px solid #0086b3;
  }

  img {
    width: 100%;
  }

  .overflow {
    overflow: hidden;
  }

  md-grid-tile md-grid-tile-footer {
    background: rgba(0, 0, 0, 0.68);
  }
}


.wrap-bookInfo {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;

  .bundleList section {
    //background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding: 0 8px 20px;
    //padding-bottom: 14px;

    button {
      border-radius: 0;
      background: none !important;
    }

    md-content {
      margin-right: 7px;
    }

    section .md-button {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .label {
      position: absolute;
      bottom: 0px;
      left: 7px;
      font-size: 14px;
      opacity: 0.54; }
  }
}