<md-card>

    <md-card-actions layout="row" layout-align="end center">
        <button ng-click="$ctrl.closeComponent()" class="md-warn md-button md-ink-ripple" type="button" aria-label="Warn">
            <span class="ng-binding ng-scope">Close</span>
            <div class="md-ripple-container"></div>
        </button>
    </md-card-actions>


    <md-divider></md-divider>

    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{::$ctrl.book.title.default}}</span>
        </md-card-title-text>
    </md-card-title>

    <md-divider></md-divider>

    <md-card-content>
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="(key, value) in $ctrl.book">
                <div class="md-list-item-text" layout="column">
                    <h3>{{ ::key }}</h3>
                    <p>{{ ::value }}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>

    <md-divider></md-divider>

    <div class="bundleList">

        <section layout="row" layout-sm="column" layout-wrap="" class="layout-wrap layout-sm-column layout-row">
            <button ng-repeat="bundle in $ctrl.bundles"
                    class="md-fab md-primary md-button md-ink-ripple" type="button" aria-label="Use Android">
                <md-icon aria-hidden="true">
                    <svg viewBox="0 0 24 24" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false" >
                        <g id="android">
                            <path fill="#888888" d="M13,9V3.5L18.5,9M6,2C4.89,2 4,2.89 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6Z" />
                        </g>
                    </svg>
                </md-icon>
                <div class="md-ripple-container"></div>
            </button>
            <div ng-if="$ctrl.bundles" class="label">Bundles List</div>
            <div ng-if="!$ctrl.bundles" class="label">Bundles list not available</div>
        </section>

    </div>

</md-card>
